<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WFWorkflowActions</key>
	<array>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.replace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>UUID</key>
				<string>ABE8F037-5DF9-44B0-B50C-3A92FCA312AF</string>
				<key>WFReplaceTextCaseSensitive</key>
				<false/>
				<key>WFReplaceTextFind</key>
				<string>А</string>
				<key>WFReplaceTextReplace</key>
				<string>a</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.replace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFReplaceTextCaseSensitive</key>
				<false/>
				<key>WFReplaceTextFind</key>
				<string>Б</string>
				<key>WFReplaceTextReplace</key>
				<string>b</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.replace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFReplaceTextCaseSensitive</key>
				<false/>
				<key>WFReplaceTextFind</key>
				<string>В</string>
				<key>WFReplaceTextReplace</key>
				<string>v</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.replace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFReplaceTextCaseSensitive</key>
				<false/>
				<key>WFReplaceTextFind</key>
				<string>Г</string>
				<key>WFReplaceTextReplace</key>
				<string>g</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.replace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFReplaceTextCaseSensitive</key>
				<false/>
				<key>WFReplaceTextFind</key>
				<string>Д</string>
				<key>WFReplaceTextReplace</key>
				<string>d</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.replace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFReplaceTextCaseSensitive</key>
				<false/>
				<key>WFReplaceTextFind</key>
				<string>Е</string>
				<key>WFReplaceTextReplace</key>
				<string>e</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.replace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFReplaceTextCaseSensitive</key>
				<false/>
				<key>WFReplaceTextFind</key>
				<string>Ё</string>
				<key>WFReplaceTextReplace</key>
				<string>e</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.replace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFReplaceTextCaseSensitive</key>
				<false/>
				<key>WFReplaceTextFind</key>
				<string>Ж</string>
				<key>WFReplaceTextReplace</key>
				<string>j</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.replace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFReplaceTextCaseSensitive</key>
				<false/>
				<key>WFReplaceTextFind</key>
				<string>З</string>
				<key>WFReplaceTextReplace</key>
				<string>z</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.replace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFReplaceTextCaseSensitive</key>
				<false/>
				<key>WFReplaceTextFind</key>
				<string>И</string>
				<key>WFReplaceTextReplace</key>
				<string>i</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.replace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFReplaceTextCaseSensitive</key>
				<false/>
				<key>WFReplaceTextFind</key>
				<string>Й</string>
				<key>WFReplaceTextReplace</key>
				<string>i</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.replace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFReplaceTextCaseSensitive</key>
				<false/>
				<key>WFReplaceTextFind</key>
				<string>К</string>
				<key>WFReplaceTextReplace</key>
				<string>k</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.replace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFReplaceTextCaseSensitive</key>
				<false/>
				<key>WFReplaceTextFind</key>
				<string>Л</string>
				<key>WFReplaceTextReplace</key>
				<string>l</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.replace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFReplaceTextCaseSensitive</key>
				<false/>
				<key>WFReplaceTextFind</key>
				<string>М</string>
				<key>WFReplaceTextReplace</key>
				<string>m</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.replace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFReplaceTextCaseSensitive</key>
				<false/>
				<key>WFReplaceTextFind</key>
				<string>Н</string>
				<key>WFReplaceTextReplace</key>
				<string>n</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.replace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFReplaceTextCaseSensitive</key>
				<false/>
				<key>WFReplaceTextFind</key>
				<string>О</string>
				<key>WFReplaceTextReplace</key>
				<string>o</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.replace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFReplaceTextCaseSensitive</key>
				<false/>
				<key>WFReplaceTextFind</key>
				<string>П</string>
				<key>WFReplaceTextReplace</key>
				<string>p</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.replace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFReplaceTextCaseSensitive</key>
				<false/>
				<key>WFReplaceTextFind</key>
				<string>Р</string>
				<key>WFReplaceTextReplace</key>
				<string>r</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.replace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFReplaceTextCaseSensitive</key>
				<false/>
				<key>WFReplaceTextFind</key>
				<string>С</string>
				<key>WFReplaceTextReplace</key>
				<string>s</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.replace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFReplaceTextCaseSensitive</key>
				<false/>
				<key>WFReplaceTextFind</key>
				<string>Т</string>
				<key>WFReplaceTextReplace</key>
				<string>t</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.replace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFReplaceTextCaseSensitive</key>
				<false/>
				<key>WFReplaceTextFind</key>
				<string>У</string>
				<key>WFReplaceTextReplace</key>
				<string>u1</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.replace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFReplaceTextCaseSensitive</key>
				<false/>
				<key>WFReplaceTextFind</key>
				<string>Ф</string>
				<key>WFReplaceTextReplace</key>
				<string>f</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.replace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFReplaceTextCaseSensitive</key>
				<false/>
				<key>WFReplaceTextFind</key>
				<string>Х</string>
				<key>WFReplaceTextReplace</key>
				<string>h</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.replace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFReplaceTextCaseSensitive</key>
				<false/>
				<key>WFReplaceTextFind</key>
				<string>Ц</string>
				<key>WFReplaceTextReplace</key>
				<string>c</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.replace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFReplaceTextCaseSensitive</key>
				<false/>
				<key>WFReplaceTextFind</key>
				<string>Ч</string>
				<key>WFReplaceTextReplace</key>
				<string>ch</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.replace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFReplaceTextCaseSensitive</key>
				<false/>
				<key>WFReplaceTextFind</key>
				<string>Ш</string>
				<key>WFReplaceTextReplace</key>
				<string>sh</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.replace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFReplaceTextCaseSensitive</key>
				<false/>
				<key>WFReplaceTextFind</key>
				<string>Щ</string>
				<key>WFReplaceTextReplace</key>
				<string>sc</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.replace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFReplaceTextCaseSensitive</key>
				<false/>
				<key>WFReplaceTextFind</key>
				<string>Ы</string>
				<key>WFReplaceTextReplace</key>
				<string>y</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.replace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFReplaceTextCaseSensitive</key>
				<false/>
				<key>WFReplaceTextFind</key>
				<string>Э</string>
				<key>WFReplaceTextReplace</key>
				<string>e</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.replace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFReplaceTextCaseSensitive</key>
				<false/>
				<key>WFReplaceTextFind</key>
				<string>Ю</string>
				<key>WFReplaceTextReplace</key>
				<string>iu</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.text.replace</string>
			<key>WFWorkflowActionParameters</key>
			<dict>
				<key>WFReplaceTextCaseSensitive</key>
				<false/>
				<key>WFReplaceTextFind</key>
				<string>Я</string>
				<key>WFReplaceTextReplace</key>
				<string>ia</string>
			</dict>
		</dict>
		<dict>
			<key>WFWorkflowActionIdentifier</key>
			<string>is.workflow.actions.previewdocument</string>
			<key>WFWorkflowActionParameters</key>
			<dict/>
		</dict>
	</array>
	<key>WFWorkflowClientRelease</key>
	<string>2.1</string>
	<key>WFWorkflowClientVersion</key>
	<string>732</string>
	<key>WFWorkflowIcon</key>
	<dict>
		<key>WFWorkflowIconGlyphNumber</key>
		<integer>59660</integer>
		<key>WFWorkflowIconImageData</key>
		<data>
		</data>
		<key>WFWorkflowIconStartColor</key>
		<integer>2846468607</integer>
	</dict>
	<key>WFWorkflowImportQuestions</key>
	<array/>
	<key>WFWorkflowInputContentItemClasses</key>
	<array>
		<string>WFRichTextContentItem</string>
		<string>WFStringContentItem</string>
	</array>
	<key>WFWorkflowTypes</key>
	<array>
		<string>WatchKit</string>
		<string>ActionExtension</string>
	</array>
</dict>
</plist>
